<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FriendlyChatSwift.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>41A04B0E1D50AE71183216007C0B4D022ADF39CD</string>
				<key>dateExpires</key>
				<string>11/2/2019</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41A04B0E1D50AE71183216007C0B4D022ADF39CD</string>
						<key>dateExpires</key>
						<string>11/2/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR7FN3RJ73</string>
						<key>name</key>
						<string>asdfghj123 Ng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41A04B0E1D50AE71183216007C0B4D022ADF39CD</string>
						<key>dateExpires</key>
						<string>11/2/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR7FN3RJ73</string>
						<key>name</key>
						<string>asdfghj123 Ng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41A04B0E1D50AE71183216007C0B4D022ADF39CD</string>
						<key>dateExpires</key>
						<string>11/2/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAPIClientForREST.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR7FN3RJ73</string>
						<key>name</key>
						<string>asdfghj123 Ng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41A04B0E1D50AE71183216007C0B4D022ADF39CD</string>
						<key>dateExpires</key>
						<string>11/2/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR7FN3RJ73</string>
						<key>name</key>
						<string>asdfghj123 Ng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41A04B0E1D50AE71183216007C0B4D022ADF39CD</string>
						<key>dateExpires</key>
						<string>11/2/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR7FN3RJ73</string>
						<key>name</key>
						<string>asdfghj123 Ng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41A04B0E1D50AE71183216007C0B4D022ADF39CD</string>
						<key>dateExpires</key>
						<string>11/2/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR7FN3RJ73</string>
						<key>name</key>
						<string>asdfghj123 Ng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41A04B0E1D50AE71183216007C0B4D022ADF39CD</string>
						<key>dateExpires</key>
						<string>11/2/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR7FN3RJ73</string>
						<key>name</key>
						<string>asdfghj123 Ng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41A04B0E1D50AE71183216007C0B4D022ADF39CD</string>
						<key>dateExpires</key>
						<string>11/2/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR7FN3RJ73</string>
						<key>name</key>
						<string>asdfghj123 Ng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41A04B0E1D50AE71183216007C0B4D022ADF39CD</string>
						<key>dateExpires</key>
						<string>11/2/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftSoup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR7FN3RJ73</string>
						<key>name</key>
						<string>asdfghj123 Ng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41A04B0E1D50AE71183216007C0B4D022ADF39CD</string>
						<key>dateExpires</key>
						<string>11/2/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TextFieldEffects.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR7FN3RJ73</string>
						<key>name</key>
						<string>asdfghj123 Ng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41A04B0E1D50AE71183216007C0B4D022ADF39CD</string>
						<key>dateExpires</key>
						<string>11/2/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>UITextView_Placeholder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR7FN3RJ73</string>
						<key>name</key>
						<string>asdfghj123 Ng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41A04B0E1D50AE71183216007C0B4D022ADF39CD</string>
						<key>dateExpires</key>
						<string>11/2/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR7FN3RJ73</string>
						<key>name</key>
						<string>asdfghj123 Ng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41A04B0E1D50AE71183216007C0B4D022ADF39CD</string>
						<key>dateExpires</key>
						<string>11/2/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR7FN3RJ73</string>
						<key>name</key>
						<string>asdfghj123 Ng</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LR7FN3RJ73.com.ilmsplus.demo</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LR7FN3RJ73</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>NTHU Chat.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3d518b5a-dbc4-44ad-ae6a-27e408610948</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.ilmsplus.demo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LR7FN3RJ73</string>
				<key>name</key>
				<string>asdfghj123 Ng</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
