<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>427157864182-6f7vvelh04m549b6v6nsgd8o2ba71kcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427157864182-6f7vvelh04m549b6v6nsgd8o2ba71kcb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>427157864182-ul2qarl1tahsl4q8r02rao9rj4cn5bj7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVAZgPzNV4GwWKE6m7Hz9dWMFJv4OPCEw</string>
	<key>GCM_SENDER_ID</key>
	<string>427157864182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilmsplus.demo</string>
	<key>PROJECT_ID</key>
	<string>landing-page-c1f6d</string>
	<key>STORAGE_BUCKET</key>
	<string>landing-page-c1f6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427157864182:ios:13791d3d80dcb4bb</string>
	<key>DATABASE_URL</key>
	<string>https://landing-page-c1f6d.firebaseio.com</string>
</dict>
</plist>